@import url('https://fonts.googleapis.com/css2?family=Syne+Mono&family=Syne:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sora:ital,wght@0,100;0,200;0,300;0,400;0,500;1,100;1,200;1,300;1,400;1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,100..1000&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');
:root {
  --primary-background: #FFFCF5;
  --secondary-background: #91ac84;
  --card-background: #5c7d6d;
  --card-2-background: #6D9481;
  --card-3-background: #91ac84;
  --toggle-bg: #f4d1e2;
  --primary-text-color: #4B4841;
  --secondary-text-color: #6D9481;
  --accent-text-color: #6A0B44;
  --hover-text-color: #08605F;
  --card-text-color: #FFFCF5;
  --icon-color: #5c7d6d;
  --beige: #FFFCF5;
  --black: #262626;
  --grey: #585555;
  --dark-pink: #6A0B44;
  --mint-green: #D0E2C7;
  --light-green: #6D9481;
  --sage-green: #91ac84;
  --green: #5c7d6d;
  --rose: #f4d1e2;
  --yellow: #EC9A29;
  --cyan: #08605F;
  --cherry-blossom: #F6C1C3;
  --record-border: #37644e; 
}

[data-theme="dark"] {
  --primary-text-color: #FFFCF5;
  --secondary-text-color: #f4d1e2;
  --primary-background: #5c7d6d;
  --secondary-background: #D0E2C7;
  --card-background: #5c7d6d;
  --card-2-background: #6D9481;
  --card-3-background: #91ac84;  
  --card-text-color: #FFFCF5;
  --accent-text-color: #F6C1C3;
  --hover-text-color: #6A0B44;
  --toggle-bg: #08605F;
  --icon-color: #FFFCF5;
  --record-border: #795a7a; 
  --card-text-color: #FFFCF5;

}

.loader:empty {
  position: absolute;
  top: calc(50% - 4em);
  left: calc(50% - 4em);
  width: 6em;
  height: 6em;
  background-image: url(../src/assets/imgs/record_player.svg);
  border-radius: 50%;
  animation: loading 4s infinite linear;
}

@keyframes loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes load8 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

body {
  background: var(--primary-background);
}

li {
  list-style: none; 
}

#tsparticles { 
  z-index: 0;
}

.cardLink {
  color: var(--card-text-color);
  font-size: 14px;
  text-decoration: underline;
}

.App {
  font-family: 'Sora', sans-serif;
  background-color: var(--primary-background);
  color: var(--primary-text-color);
  width: 100%;
  transition: background-color 350ms ease-in-out;
}

h2 {
  font-family: 'Syne Mono', monospace; 
}

.App-header {
  z-index: 1;
  color: var(--primary-text-color);
  min-height: 100px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: right;
  font-size: 24px;
  font-weight: 600;
}

.App-header li {
  font-family: 'Syne Mono', monospace; 
  margin-right: 50px;
  justify-content: right;
  list-style: none; 
  transition: .3s;
}

ul.App-header {
  display: flex;
  flex-direction: row;
}

ul.App-header:hover li {
  filter: blur(4px);
}

ul.App-header li:hover {
  filter: blur(0px);
}


.App-link {
  color: var(--primary-text-color);
  text-decoration: none;
}

.App-header-vertical {
  flex-direction: column;
}

.Navbar {
  z-index: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 0% 2%;
}

.hamburger {
  display: none;
}

.Logo {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 450px;
  font-family: 'Syne', sans-serif; 
}

.logoLeft,
.logoRight {
  margin: 0%;
  margin-right: 1%;
  height: 50px;  
  z-index: 2;
  transition: .5s ease-in-out;
}

.logoLeft {
  margin-left: -1%;
  margin-right: 0%
}

.logoRight {
  margin-left: 0%;
  margin-top: 10px;
}

.Logo:hover .logoLeft {
  margin-left: 0%;
  margin-right: 1%;
  transition-duration: .5s ease-in-out;
}

.Logo:hover .logoRight {
  margin-left: 9.5%;
  transition: .5s ease-in-out;
}

.logoText {
  justify-content: center;
  z-index: 0;
  width: 1px;
  font-size: 24px;
  font-weight: 700;
  transition-duration: .5s;
  color: rgba(255, 255, 255, 0);
}

.Logo:hover .logoText {
  transition-duration: 1s;
  color: var(--primary-text-color);
}

.aboutContainer,
.heroContainer,
.musicContainer,
.projectContainer {
  display: flex;
  justify-content: center;
  flex-direction: row;
  margin: 5% 2%;
}

.record {
  animation: rotate 10s linear infinite;
}

.Circle,
.recordCircle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 175px;
  height: 175px;
  background: linear-gradient(45deg, var(--black), var(--grey));
  border: solid 7px pink;
  border-radius: 50%;
  animation: rotate 10s linear infinite;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.Circle {
  display: flex;
  justify-content: center;
  align-items: center;  
  background: var(--primary-background);
  border: solid 2px rgb(122, 88, 94);
  width: 50px;
  height: 50px;
}

.latestInfo {
  font-family: 'Syne Mono', monospace; 
  margin: 0px 30px;
}

.latestInfo > h2  {
  margin-bottom: 5px;
  color: var(--accent-text-color);
  font-weight: 600;
}

.latestInfo > h3  {
  font-family: 'Sora' , sans-serif;
  font-weight: 400;
  margin-bottom: 10%;
}

.spotifyContainer,
.latestInfo {
  padding: 0%;
  width: 370px;
  flex-direction: column;
  z-index: 1;
}

.spotifyContainer {
  width: 500px;
  margin-right: 30px;
}

.recordContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 250px;
  min-width: 250px;
  max-height: 250px;
  max-width: 250px;
  background: var(--secondary-text-color);
  border: 8px solid var(--record-border);
  border-radius: 15%;
  margin-right: 30px;
  z-index: 1;
}

.latestText > h3 {
  font-family: 'Syne Mono', monospace; 
  margin: 40px;
  color:#FFFCF5;
}

.heroSection {
  display: flex;
  align-items: center;
}

.heroText {
  margin: 0px 30px;
  z-index: 1;
}

.heroText > h1 {
  line-height: 80px;
  margin: 5px 0px;
  color: var(--secondary-text-color);
  font-family: 'Syne', sans-serif;
  font-size: 80px;
  font-weight: 700;
  letter-spacing: 0px;
}

.heroText > h3, 
.heroText > h4 {
  max-width: 600px;
  font-size: 32px;
  font-weight: 400;
  line-height: 40px;
  margin: 20px 0px;
  font-family: 'Sora', monospace; 

}

.heroText > h4 > strong {
  transition: ease-in-out .3s;
  font-family: 'Syne Mono', monospace; 
}

.heroText > h4 > strong:hover {
  color: var(--hover-text-color);
  transition: ease-in-out .3s;
}
.heroText > h3 {
  margin-top: 0%;
}

.heroText > h4 > strong {
  color: var(--accent-text-color);
  font-weight: 800;
  font-style: italic;
  transition: ease-in-out .3s;

}

.buttonContainer {
  display: flex;
}

.homeButtons {
  display: flex; 
  flex-direction: row;
  white-space: nowrap;
  font-size: 24px;
  font-weight: 700;
  color: var(--secondary-text-color);
  font-family: 'Syne Mono', monospace; 
  text-decoration: none;
  margin-right: 30px;
  border: 2px solid var(--secondary-text-color);
  padding: 5px 10px;
  border-radius: 10px;
  transition: 250ms ease-in-out;
}

.homeButtons:hover {
  color: white;
  background-color: var(--green);
  transition: 250ms ease-in-out;
}

.homeButtons > p {
  margin: 0px 10px;
}

.homeButtons:hover > p {
  animation: slide1 1s ease-in-out infinite;
}

@keyframes slide1 {
  0%,
  100% {
    transform: translate(0, 0);
  }

  50% {
    transform: translate(5px, 0);
  }
}

.connect {
  margin-bottom: 2%; 
}

.socialsContainer {
  display: flex;
  flex-direction: row;
}

.socialsContainer > a,
.socialsContainer > a > img {
  width: 50px;
  height: 50px;
  margin: 5px;
  transition: .5s ease-in-out;
  opacity: 100%
}

.socialsContainer > a:hover {
  transition: .5s ease-in-out;
  opacity: 50%;
}

/* ABOUT ME PAGE */

.aboutPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0% 12%;
  z-index: 1;
}

.aboutContainer {
  flex-direction: row-reverse;
  z-index: 1;
}

.aboutText {
  max-width: 550px;
  margin-right: 30px;
}

.aboutText > h2 {
  font-size: 60px;
  margin-bottom: 0px;
  color: var(--accent-text-color);
}

.aboutText > p {
  font-size: 20px;
}

.aboutText > p strong {
  color: var(--accent-text-color);
}

.scrollElement > img {
  height: 200px;
  width: 150px;
  margin: 0px 5px;
  border-radius: 20px;
}

.scrollParent {
  position: relative;
  overflow: hidden;
  height: 200px;
  width: 100%;
}

.imageCarouselContainer {
  display: flex;
  overflow: hidden;
  height: 200px;
  width: 900px;
  margin: 10px 0%;
}

.scrollElement {
  width: inherit;
  height: inherit;
  position: absolute;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  margin: 0px;
}

.primary {
  animation: primary 11s linear infinite;
}

.secondary {
  animation: secondary 11s linear infinite;
}

.primary2 {
  animation: primary2 11s linear infinite;
}

.secondary2 {
  animation: secondary2 11s linear infinite;
}

@keyframes primary {
  from {
    left: 10%;
  }
  to {
    left: -90%;
  }
}

@keyframes secondary {
  from {
    left: 110%;
  }
  to {
    left: 10%;
  }
}


@keyframes primary2 {
  from {
    left: 0%;
  }
  to {
    left: -100%;
  }
}

@keyframes secondary2 {
  from {
    left: 100%;
  }
  to {
    left: 0%;
  }
}

/* PROJECTS PAGE */

.projectContainer { 
  margin-top: 0%;
}

.projectPage > h2 {
  text-align: left;
  width: 980px;
  font-size: 40px;
  margin: 50px 0px 0px 0px;
  z-index: 1;
}

.projectPage > p {
  text-align: left;
  width: 980px;
  justify-content: flex-start;
  z-index: 1;
}

.cardList,
.projectPage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  z-index: 1;
}

.projectPage {
  justify-content: flex-start;
}

.cardList {
  flex-direction: row;
}

.projectCard {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px; 
  width: 200px;
  height: 330px;
  padding: 0px 20px;
  border-radius: 20px;
  margin: 4%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  transform-style: preserve-3d;
  transition: 250ms ease-in-out;
  cursor: pointer;
  perspective: 1000px;
}

.cardFront:hover {
  transition: 250ms ease-in-out;
  transform: translateY(-20px);
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
}

.projectCard.flip {
  transform: rotateY(180deg);
}

.projectCard .cardFront,
.projectCard .cardBack {
  transition: 250ms ease-in-out;
  height: 100%;
  width: 100%;
  padding: 10%;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 20px;
  align-items: flex-start;
  backface-visibility: hidden;
  border: 3px solid var(--sage-green);
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.cardFront {
  background: var(--card-background);
  background: radial-gradient(circle, var(--card-background) 0%, var(--card-2-background) 46%, var(--card-3-background) 95%);
}

.cardBack {
  background: var(--green);
  background: radial-gradient(circle, var(--green) 0%, var(--light-green) 46%, var(--sage-green) 95%);
  transform: rotateY(180deg);
}

.cardImageContainer {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.cardImage {
  height: 200px;
  width: 200px;
  border: 2px solid var(--primary-background);
  border-radius: 10px;
  background: var(--beige);
}

.cardHeader {
  color: var(--card-text-color);
}

.cardHeader > h3 {
  font-weight: 800;
  font-size: 20px;
  margin: 15px 0px 0px 0px;
}

.cardBack > .cardHeader > h2 {
  font-family: 'Syne', sans-serif;
  font-size: 22px;

}
.cardBack > .cardHeader > h3  {
  font-weight: 500;
  font-size: 15px;
}

.cardBack > .cardHeader > h4 {
  font-weight: 500;
  line-height: 18px;
  font-size: 14px;
}

.cardInfo > h4 {
  font-weight: 500;
  color: var(--card-text-color);
  font-size: 16px;
  margin: 5px 0px 0px 0px;
  
}

.cardDetails > h5,
.cardDetails > h5 > a {
  font-weight: 400;
  font-size: 13px;
  color: var(--card-text-color);
  margin: 5px 0px 0px 0px;
}

.cardDetails > h5 > a {
  font-weight: 600;
  text-decoration: underline;
  transition: 250ms ease-in;
}

.cardDetails > h5 > a:hover {
  font-weight: 600;
  text-decoration: underline;
  color: var(--accent-text-color);
  transition: 250ms ease-in;
}

.playButton {
  width: 30px;
  height: 30px;
  margin: 10px 10px 10px 0px;
  transition: 250ms ease-in-out;
}

.playButton:hover {
  transition: 250ms ease-in-out;
  transform: translateY(-3px);
}

/* ABOUT ME PAGE */ 

.contactPage {
  display: flex; 
  flex-direction: row;
  justify-content: center;
}

.headshotImageContainer {
  margin-top: 5%;
  width: 300px;
  height: 400px;
}

.Headshot {
  width: 275px;
  height: 400px;
  border-radius: 150px 150px 100px 0px;
  box-shadow: 25px -20px var(--light-green);
}

/* FOOTER */ 
.footer {
  font-family: 'Syne Mono', sans-serif;
  z-index: 10;
  height: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  /* padding: 40px 0px; */
}

.footer-heading {
  font-size: 16px;
  z-index: 1;
}

.footer-heading h1 {
  text-align: center;
  margin: 2%;
  height: 50px;
}

.footer-links {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  z-index: 1;
  height: 50px;
}

.footer-links a {
  margin-bottom: 5px;
  margin-right: 5%;
  text-decoration: none;
  color: var(--black);
  transition: text-decoration-color 1000ms ease-in-out;
  transition: color .3s linear;
}

.footer-links a:focus,
.footer-links a:hover {
  text-decoration: underline 1px var(--green);
  color: var(--black);
  transition: .3s linear;
}

.footer-link {
  display: flex;
  line-height: 0px;
}

.footer-links img {
  height: 30px;
  width: 30px;
  fill: var(--icon-color)
} 

/* Dark Mode */

.toggleContainer {
  display: flex;
  align-items: left;
}
.toggle {
  visibility:hidden;
}

.toggle + label {
  position: relative;
  display: block;
  cursor: pointer;
  color: var(--toggle-bg);
  box-shadow: 0px 5px 10px rgba(0,0,0,0.2);
}

.toggle + label::before {
  content: "";
  height: 40px;
  width: 80px; 
  border-radius: 40px;
  background-color: var(--toggle-bg);
  margin-right: 5px;
  transition: background-color 350ms ease-in-out, transform 250ms ease-in-out;
  box-shadow: 0px 5px 10px rgba(0,0,0,0.2);

}

.toggle + label::after {
  content: "";
  height: 32px;
  width: 32px; 
  border-radius: 40px;
  background-color: var(--toggle-bg);
  position: absolute;
  left: 5px;
  box-shadow: 0px 5px 10px rgba(0,0,0,0.2);


}

.toggle:checked + label::after {
  left: 75px;
  transform: translateX(-100%);
  background: linear-gradient(180deg,var(--cyan), var(--light-green));
}


label {
  width: 80px;
  height: 40px;
  position: relative;
  display: block;
  background: var(--rose);
  border-radius: 50px;
  box-shadow: inset 0px 5px 15px rgba(0,0,0,0.4), inset 0px -5px 15px rgba(255,255,255,0.4);
  cursor: pointer;
}

label:after {
  content: "";
  width: 30px;
  height: 30px;
  position: absolute;
  top: 5px;
  left: 5px;
  background: linear-gradient(180deg,var(--accent-text-color), var(--cherry-blossom));
  border-radius: 30px;
  box-shadow: 0px 5px 10px rgba(0,0,0,0.2);
}

input {
  width: 0;
  height: 0;
  visibility: hidden;
}

input:checked + label {
  background: var(--toggle-bg);
}

input:checked + label:after {
  left: 75px;
  transform: translateX(-100%);
  background: linear-gradient(180deg,var(--cyan), var(--light-green));
}

label, label:after {
  transition: 0.3s;
}

label:active:after{ 
  width: 50px; 
}

/* MEDIA QUERIES */
@media screen and (max-width: 1150px) {
  .aboutText {
    width: 400px;
  }
}

@media screen and (max-width: 1015px) {
  .Logo {
    margin-left: 30px;
  } 

  .App-header li {
    margin-left: 30px;
    margin-right: 30px;
  }

  .heroText > h1 {
    font-size: 54px;
    line-height: 64px;
  }

  .heroText {
    margin-top: 5%;
  }

  .heroText > h3, 
  .heroText > h4 {
    font-size: 24px;
    line-height: 30px;
    max-width: 90%;
  }

  .homeButtons {
    font-size: 16px;
    width: 100px;
  }

  .homeButtonImg {
    margin: 0px 10px;
  }

  .App-header {
    font-size: 18px;
    white-space: nowrap;
  }

  .aboutText {
    font-size: 20px;
    width: 100%;
  }

  .aboutText > h2 {
    font-size: 32px;
  }

  .projectPage > p,
  .projectPage > h2 {
    width: 600px;
    z-index: 1;
  }

  /* about me page*/
  .imageCarouselContainer {
    margin: 10px 2%;
    width: 100%;
  }

  .headshotImageContainer,
  .Headshot {
    width: 205px;
    height: 300px;
  }


  .aboutText > p {
    font-size: 16px;
  }
}

@media screen and (max-width: 820px) {
  /* Navbar */

  .Logo:hover .logoRight {
    margin-left: 40px;
  }

  /* About me page */
  .primary,
  .primary2,
  .secondary,
  .secondary2 {
    animation: none;
  }

  .aboutContainer {
    flex-direction: column;
  }

  .imageCarouselContainer,
  .scrollParent {
    overflow: auto;
    height: 150px;
  }

  .scrollElement > img {
    height: 150px;
    width: 120px;
    margin: 0px 5px;
    border-radius: 10px;
  }

  /* Homepage */
  
  .socialsContainer {
    flex-direction: row;
    padding: 10px 20px;
  }

  .heroText,
  .heroText > h3 {
    margin-bottom: 0%;
  }
  
  .heroText > h4 {
    font-size: 20px;
    line-height: 28px;
    margin-top: 1%;
  }

  .socialsContainer > a {
    margin: 0px 5px;
  }

  .socialsContainer > a > img {
    width: 35px;
    height: 35px;
  }
}

@media screen and (max-width: 690px) {
  .hamburger {
    display: block;
    margin-right: 20px;
  }

  .App-link.horizontal {
    display: none;
  }

  .App-header-vertical {
    width: 100px;
    z-index: 1;
    position: absolute;
    top: 80px;
    right: 20px;
    padding: 10px 10px;
    white-space: nowrap;
    font-size: 14px;
  }

  .App-link.vertical {
    background-color: var(--green);
    color: var(--primary-background);
    z-index: 3;
    justify-content: center;
    align-items: center;
    padding: 10% 5%;
    border-bottom: 1px solid var(--grey);
    border-radius: 4px;
  }

  .aboutText {
    margin: 1% 2%
  }

  .aboutText > p {
    font-size: 14px;
  }

  .heroContainer,
  .musicContainer,
  .recordContainer,
  .spotifyContainer {
    flex-direction: column;
    margin: 5%;
    width: 400px;
  }
  
  .socialsContainer {
    margin: 0px;
    padding: 0px;
  }

  .socialsContainer > a {
    width: 35px;
  }

  .heroText > h1 {
    font-size: 64px;
    line-height: 72px;
  }

  .spotifyContainer > iframe {
    width: 300px;
  }

  .projectCard {
    margin-bottom: 15%;
  }

  .Logo:hover .logoLeft {
    margin-left: 4%;
  }

  .projectPage > p,
  .projectPage > h2 {
    width: 300px;
  }
}

@media screen and (min-width:650px) {
  .App-header-vertical {
    display: none;
  }
}

/* MEDIA QUERIES FOR MOBILE DEVICES */
@media screen and (max-width: 480px) {
  .App-header {
    font-size: 12px;
  }

  .heroSection,
  .heroText,
  .musicContainer {
    flex-direction: column;
    width: 100%;
  }

  .heroSection,
  .heroText,
  .spotifyContainer{
    margin: 5%
  }

  .recordContainer {
    margin-left: 20px;
  }

  .heroText > h1 {
    font-size: 48px;
    line-height: 60px;
  }

  .heroText > h3, 
  .heroText > h4 {
    line-height: 28px;
    font-size: 20px;
    margin-top: 2%;
  }

  .headshotImageContainer,
  .Headshot {
    width: 160px;
    height: 100%;
  }
  
  .App-header li {
    margin-left: 15px;
  }
  
  .Navbar {
    width: 105vw;
    justify-content: space-between;
  }

  .hamburger {
    position: relative;
    right: 0px;
  }

  .App-header-vertical {
    right: -5vw;
  }

  .projectPage > p,
  .projectPage > h2 {
    width: 300px;
  }

  .projectPage > h2 {
    font-size: 32px;
  }

  .projectPage > p {
    font-size: 16px;
  }
}

@media screen and (max-width: 351px) {
  .Navbar {
    width: 135vw;
  }
  .hamburger {
    position: relative;
    right: 20px;
  }

  .App-header-vertical {
    right: -20vw;
  }
  
  .projectPage {
    margin: 1% 5%;
    margin-left: 50px;
    width: 100vw;
  }

  .projectPage > h2 {
    font-size: 24px;
  }
}